.my-p-relative{position: relative;}
.my-p-absolute{position: absolute;}

/* Ridimensionamento per l'icona chevron dei dropdown menu */
.chevron-down {
    width: 12px;
    margin-left: .1rem;
}

/* Width fissa per l'icona di search */
.search-icon{
    width: 30px;
}

/* Colore custom per i btn */
.my-btn-custom{
    color: #0d6efd;
    background-color: #d9dadc;
    border-color: #d9dadc;
}

/* Colore custom per i btn in hover */
.my-btn-custom:hover{
    color: #0d6efd;
    background-color: #c8cbcf;
}

/* Grandezza fissa per il logo dei jumbotron */
img.jumbo-logo{
    width: 250px;
}

/* Resetto lo stile di base per le card di tutte le section */
.card{
    border: none;
	background-color: transparent;
}

/* Sfondo nero per l'header top */
section#header-top{
    background-color: black;
}

/* Larghezza fissa per il logo header top */
section#header-top>img{
    width: 80px;
}

/* Sfondo del Jumbotron (parte alta) */
#jumbotron-carousel .bg-jumbo {
	background-image: url("../img/jumbo-bg.png");
	background-size: cover;
    background-position: center;
    padding: 21rem 0 4rem;
}

/* Border radius per le card del primo jumbotron */
#jumbotron-carousel .my-card>img{
    border-radius: 20px;
}

/* Allineo al centro il testo delle card del flagship-product */
section#flagship-product .card{
    text-align: center;
}

/* Richiamo il secondo jumbotron */
section#jumbotron{
    height: 650px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

/* Sfondo per la section "nuove uscite" */
section#new-games{
    background-color: #1f1f1f;
}

/* Radius alle immagini delle card "new-games" */
section#new-games .card>img{
	border-radius: 20px;
}

/* Sfondo per il primo banner */
section#banner-ps-plus{
    background-color: #bebcbb;
}

/* Fino a dispositivi Large l'immagine del banner occuperà il 100% della larghezza (mobile-first) */
.banner .banner-img{
    max-width: 100%;
}


/* ?MEDIA QUERY */
/* Media query per tablet */
@media screen and (min-width: 768px) {
    section#flagship-product .card>img{
        padding: 1rem;
    }
    
} 

/* Media query per Large */
@media screen and (min-width: 992px) {
    /* Su dispositivi dal Large in su, l'immagine del banner occuperà meno spazio */
    .banner .banner-img {
        max-width: 80%;
    }
    
} 

/* Media query per schermi Extra extra Large */
@media screen and (min-width: 1400px) {
    section#flagship-product .card{
        padding: 0 3rem;
    }

    section#flagship-product .card>img{
        padding: 2rem;
    }
    
} 

/* <div class="row px-2 px-md-4"> */