.my-p-relative{position: relative;}
.my-p-absolute{position: absolute;}

/* Ridimensionamento per l'icona chevron dei dropdown menu */
.chevron-down {
    width: 12px;
    margin-left: .1rem;
}

/* Width fissa per l'icona di search */
.search-icon{
    width: 30px;
}

/* Grandezza fissa per il logo dei jumbotron */
img.jumbo-logo{
    width: 250px;
}

/* Resetto lo stile di base per le card di tutte le section */
.card{
    border: none;
	background-color: transparent;
}

/* Sfondo nero per l'header top */
section#header-top{
    background-color: black;
}

/* Larghezza fissa per il logo header top */
section#header-top>img{
    width: 80px;
}

/* Sfondo del Jumbotron (parte alta) */
#jumbotron-carousel .bg-jumbo {
	background-image: url("../img/jumbo-bg.png");
	background-size: cover;
    background-position: center;
    padding: 21rem 0 4rem;
}

/* Border radius per le card del primo jumbotron */
#jumbotron-carousel .my-card>img{
    border-radius: 20px;
}

/* Allineo al centro il testo delle card del flagship-product */
section#flagship-product .card{
    text-align: center;
}

/* Richiamo il secondo jumbotron */
section#jumbotron{
    height: 650px;
    background-image: url("../img/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
}

/* Sfondo per la section "nuove uscite" */
section#new-games{
    background-color: #1f1f1f;
}

/* Radius alle immagini delle card "new-games" */
section#new-games .card>img{
	border-radius: 20px;
}

section#product-ps4{
}


/* ?MEDIA QUERY */
/* Media query per tablet */
@media screen and (min-width: 768px) {
    section#flagship-product .card>img{
        padding: 1rem;
    }
    
} 

/* Media query per schermi Extra Large */
@media screen and (min-width: 1200px) {
    section#flagship-product .card{
        padding: 0 3rem;
    }

    section#flagship-product .card>img{
        padding: 2rem;
    }
    
} 

/* <div class="row px-2 px-md-4"> */